# Ignore the outline for a Flask screencast
blog.md

# Ignore the posts directory
posts/*

# Ignore the build directory
build/*

# Ignore python compiled files
*.pyc

# Ignore emacs temp files
\#*\#
*~