{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" type="text/css" media="screen" charset="utf-8"/>
    {% if post.meta.title %}
    <title>{{ post.meta.title }}{% if post.meta.subtitle %}: {{ post.meta.subtitle }}{% endif %}</title>
    {% endif %}
{% endblock head %}

{% block content %}

    <!-- Header -->
    <div id="header">
        <h1>{{ post.meta.title }}</h1>
        {% if post.meta.subtitle %}
            <h2>{{ post.meta.subtitle }}</h2>
        {% endif %}
        <h3 id="date">{{ post.meta.date|date }}</h3>
    </div>

    <div id="content">
        {{ post.html|safe }}
    </div>

    {# {% include comments/disqus.html %} #}

{% endblock content %}


